.about {
  height: 90vh;
  display: flex;
  justify-content: center;
  color: white;
  align-items: normal;
  gap: 50px;
  height: max-content;
  padding: 20px;
  margin-bottom: 20px;
}

.aboutItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: white;
  line-height: 20px;
}

.aboutParagraph {
  background-color: white;
  line-height: 30px;
  padding: 20px;
  color: black;
  border-radius: 10px;
}

.aboutTitle {
  margin: 13px;
  margin-bottom: 25px;
  padding: 5px;
  width: 30%;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
