.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.whatsappWrapper {
  position: relative;
}

.whatsappButton {
  background-color: #25d366; /* WhatsApp's color */
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  padding: 10px;
}

.whatsappButton:hover {
  background-color: #25d365e0;
}

.whatsappImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
